@namespace BlazorComponent
@inherits BMenuable

@ComputedActivatorContent

@if (Booted)
{
    <div style="@CssProvider.GetStyle()" class="@CssProvider.GetClass()" @ref="Ref">
        <BCascadingValue Value="IsDark" Name="IsDark">
            <Transition Name="@Transition">
                <Element Show="IsActive"
                     id="@Id"
                     style="@CssProvider.GetStyle("content")"
                     class="@CssProvider.GetClass("content")"
                     @onclick="OnContentClick"
                     @onmouseenter="OnContentMouseenter"
                     @onmouseleave="OnContentMouseleave"
                     @attributes="@Attributes"
                     ReferenceCaptureAction="r => ContentRef = r">
                    @ChildContent
                </Element>
            </Transition>
        </BCascadingValue>
    </div>
}